h1{
    background-color: blanchedalmond;
    text-align: center;
    margin: 20pxs;
    font-family: cursive;
    font-size: xx-large;
border-color: black;
text-shadow: 4px gray;}



    div{
        color-scheme: red;
        border-color: black;
        text-align: end;
        border-color: blue;


    }
    

textarea{
    position: right
    ;
}
html{
    background-color: antiquewhite;
    border-top: 3;
border-color: blueviolet;}
  

#seleccion{
    background-color: azure;
    font-style: initial;
    font-size: xx-large;
    text-align: center;

}
      #elecciones{
        background-color: rgb(224, 164, 136);
        text-align: center;
        margin: 20pxs;
        font-family: cursive;
        font-size: medium;}
      }
      #color{
          margin: 20px;
          border: red;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          text-align: center;
          box-sizing: content-box;
      }
      .raza{border: 1px solid grey;

      }
      .color1{
          position: relative;
          text-align: center;
          border: 4px solid green;
         
      }
      html{
          margin-bottom: 50px;
      }