html{
    background-color:cornflowerblue;(156, 90, 28, 0.877);
    color: white;
}
h1{
    font-size: 800%;
    
    
}
ma

p{
    margin:.left: auto;
    margin:.right : auto;
}
h3{
    font-style: italic;
    font-size: small
    back
}
.discografia{
    border-color: yellow;
    border-width: 1px;
    border-style: solid;

}
.disco{
    color: chocolate;
}