h1{
    background: image();
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 7px auto;
    text-align: center;
}
 form{
     background-color: aqua;
     text-align: center;
     margin: 7px auto;

 }
   input{
       margin: 2px;}
       body{
           background-image: ..;
       }
